body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50; 



}

.botao {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #2980b9;
}

.container {
    text-align: center;
    width: 90%;
    min-width: 300px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.highlight {
    background-color: #ff9999;
}

td {
    border: 2px solid red;
    font-size: 2vw;
    cursor: pointer;
}

#tabelaResultados,
#voltar {
    display: none;
}

.toggle {
    background-color: gray;
    transition: background-color 0.3s ease;
}

img {
    width: 10%;
}

caption {
    font-size: 2vw;
    font-weight: bolder;
    font-family: serif;
    text-align: center;
    color: #333
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

p {
    font-size: 1.1rem;
}

@media screen and (max-width: 600px) {
    td {
        font-size: 4vw;
    }

    table {
        width: 95%;
    }
    caption{
        font-size: 2.5rem;
    }


}
